name: MLOps CI/CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install pytest
    
    - name: Run tests
      run: |
        if [ -d tests ]; then
          pytest
        else
          echo "No tests found, skipping"
        fi

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker image
      run: |
        docker build \
          -t anuragtiwari007/mlops-inference:latest \
          -t anuragtiwari007/mlops-inference:${{ github.sha }} .

    - name: Push Docker image
      run: |
        docker push anuragtiwari007/mlops-inference:latest
        docker push anuragtiwari007/mlops-inference:${{ github.sha }}

    - name: Deploy to Render
      run: |
        curl -X POST \
        -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}" \
        https://api.render.com/v1/services/${{ secrets.RENDER_SERVICE_ID }}/deploys
