name: MLOps Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  mlops:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run Drift Check
      run: |
        python drift_check.py

    - name: Retrain if Drift Detected
      run: |
        python retrain.py
